{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Contactez-nous - Ma Clinique de "%}"</title>
    {% load static %}
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-..."
          referrerpolicy="no-referrer" rel="stylesheet"/>

    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo de la clinique">
                <h1>Cabinet PT Affous</h1>
            </div>
           
            <div class="menu-toggle">
                <input type="checkbox" id="menu-btn">
                <label for="menu-btn">&#9776;</label>
                <nav class="nav-links">
                    <ul>
                        <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                        <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                        <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                    <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                    <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                </ul>
            </nav>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link"><img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon"></a>
                <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link"><img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon"></a>
            </div>
            <div class="language">
                <form action="{% url 'set_language' %}" method="post" class="language-selector-container">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()" class="custom-select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                <img src="{% static 'images/' %}{{ language.code }}.png" alt="{{ language.name_local }}" width="16" height="16">
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div> 
        </div>
    </header>
    <main>
        <section>
        <h2>{% trans "Contactez-nous" %}</h2>
        <p>{% trans "Pour prendre rendez-vous ou pour toute question, n'hésitez pas à nous contacter :" %}</p>
        <address>
            <i class="fas fa-envelope"></i> {% trans "Email :" %}
            <a href="mailto:ouadie.affous.oa@gmail.com">ouadie.affous.oa@gmail.com</a><br>
            <i class="fas fa-phone"></i> {% trans "Téléphone :" %}
            <a href="tel:+212690153603">+212 6 90 15 36 03</a>
        </address>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link"><img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon"></a>
            <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link"><img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon"></a>
        </div>
    
        <form class="contact" id="appointment-form" method="post" action="{% url 'contact' %}">
            {% csrf_token %}
            
            <!-- Display success message -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        
            <label for="name">{% trans "Vos noms et prénoms (obligatoire)" %}</label>
            <input type="text" id="name" name="name" required>
        
            <label for="phone">{% trans "Votre téléphone (obligatoire)" %}</label>
            <input type="text" id="phone" name="phone" pattern="[0-9]{10}" title="{% trans 'Veuillez entrer un numéro de téléphone à 10 chiffres' %}" required>
        
            <label for="email">{% trans "Votre email (obligatoire)" %}</label>
            <input type="email" id="email" name="email" required>
        
            <label for="subject">{% trans "Sujet" %}</label>
            <input type="text" id="subject" name="subject">
        
            <label for="message">{% trans "Votre message" %}</label>
            <textarea id="message" name="message" rows="4" required></textarea>
        
            <input type="submit" value="{% trans 'Réserver' %}">
        </form>
        
    
        <img src="{% static 'images/contact.png' %}" alt="Contactez-nous">
    </section>
    
     <!--   <section>
            <h2 >{% trans "Contactez-nous"%}</h2>
            <p>{% trans "Pour prendre rendez-vous ou pour toute question, n'hésitez pas à nous contacter :"%}</p>
            <address>
                <i class="fas fa-envelope"></i> {% trans "Email :" %}
                <a href="mailto:ouadie.affous.oa@gmail.com">ouadie.affous.oa@gmail.com</a><br>
                <i class="fas fa-phone"></i> {% trans "Téléphone :" %}
                 <a href="tel:+212633571960">+212 6 33 57 19 60</a>
            </address>
--> 
           <!--<div id="map" style="height: 400px;"></div>--> 

           <!--- <img src="{% static 'images/contact.png' %}" alt="Contactez-nous">
        </section>->
    </main>--> 
  <!-- <script src="https://www.google.com/maps/place/Cabient+Ouadie+Affousse/@33.8844628,-5.0375567,17z/data=!4m14!1m7!3m6!1s0xd9f89003b1da1eb:0x4ef84094e3a68c0!2sCabient+Ouadie+Affousse!8m2!3d33.8844628!4d-5.0375567!16s%2Fg%2F11ld8p5jwb!3m5!1s0xd9f89003b1da1eb:0x4ef84094e3a68c0!8m2!3d33.8844628!4d-5.0375567!16s%2Fg%2F11ld8p5jwb?entry=ttu" defer></script>

    
    <script>
        // Your custom script to initialize the map 
        function initMap() {
            // Create a map centered at the specified location
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 33.8844628, lng: -5.0375567},
                zoom: 15
            });

            // Add a marker at the specified location
            var marker = new google.maps.Marker({
                position: {lat: 33.8844628, lng: -5.0375567},
                map: map,
                title: 'Ma Clinique de Kinésithérapie & Physiothérapie'
            });
        }
    </script>--> 
    <footer>
        <div class="container">
            <p>&copy;{% trans " 2024 Cabinet de kinésithérapie & physiothérapie."%}</p>
        </div>
    </footer>


</body>
</html>
