{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as language_code %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Cabinet de kinésithérapie & physiothérapie" %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo de la clinique">
                <h1>Cabinet PT Affous</h1>
            </div>
           
            <div class="menu-toggle">
                <input type="checkbox" id="menu-btn">
                <label for="menu-btn">&#9776;</label>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                    <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                    <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                </ul>
            </nav>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link"><img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon"></a>
                <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link"><img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon"></a>
            </div>
            <div class="language">
                <form action="{% url 'set_language' %}" method="post" class="language-selector-container">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()" class="custom-select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                <img src="{% static 'images/' %}{{ language.code }}.png" alt="{{ language.name_local }}" width="16" height="16">
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>            
        </div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <h1>{% trans "Cabinet de kinésithérapie & physiothérapie" %}</h1>
                <p>{% trans "Nous sommes dédiés à améliorer votre santé et votre bien-être grâce à nos services de qualité." %}</p>
                <video controls autoplay muted>
                    <source src="{% static 'videos/VideoLogo2.mp4' %}" type="video/mp4">
                    {% trans "Votre navigateur ne prend pas en charge la balise vidéo." %}
                </video>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; {% trans "2024 Cabinet de kinésithérapie & physiothérapie." %}</p>

        </div>
    </footer>
</body>
</html>
