{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Prendre Rendez-vous - Cabinet de kinésithérapie & physiothérapie"%}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..."
crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo de la clinique">
                <h1>Cabinet PT Affous</h1>
            </div>
           
            <div class="menu-toggle">
                <input type="checkbox" id="menu-btn">
                <label for="menu-btn">&#9776;</label>
                <nav class="nav-links">
                    <ul>
                        <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                        <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                        <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                    <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                    <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                </ul>
            </nav>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link"><img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon"></a>
                <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link"><img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon"></a>
                <a href="https://wa.me/212633571960" target="_blank" class="icon-link"><img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" class="social-icon"></a>
            </div>
            <div class="language">
                <form action="{% url 'set_language' %}" method="post" class="language-selector-container">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()" class="custom-select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                <img src="{% static 'images/' %}{{ language.code }}.png" alt="{{ language.name_local }}" width="16" height="16">
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div> 
        </div>
    </header>
 {% block content %}
<main>
    <section>
        <div class="section-title">
        <h2 >{% trans "Prise de Rendez-vous"%}</h2>
    </div>
        <form id="appointment-form" method="post" action="{% url 'prendre_rendezvous' %}">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <p class="success-message"><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></p>
                    {% endfor %}
                </ul>
            {% endif %}
        
            <label for="name"><i class="fas fa-user"></i> {% trans "Nom :" %}</label>
            <input type="text" id="name" name="nom" required>
        
            <label for="name"><i class="fas fa-user"></i> {% trans "Prenom :" %}</label>
            <input type="text" id="name" name="prenom" required>
        
            <label for="name"><i class="fas fa-id-card"></i> {% trans "CIN :" %}</label>
            <input type="text" id="name" name="CIN" required>
        
            <label for="name"><i class="fas fa-phone"></i> {% trans "Téléphone:" %}</label>
            <input type="text" id="name" name="telephone" required>
        
            <label for="email"><i class="fas fa-envelope"></i> {% trans "Email :" %}</label>
            <input type="email" id="email" name="email" required>
        
            <label for="date"><i class="far fa-calendar-alt"></i> {% trans "Date :" %}</label>
            <input type="date" id="date" name="date" required>
        
            <label for="time"><i class="far fa-clock"></i> {% trans "Heure de début :" %}</label>
            <select id="time" name="time" required>
                <!-- Options will be dynamically updated based on the selected date -->
            </select>
        
            <input type="submit" value="{% trans 'Réserver' %}">
        
        </form>

     
    </section>
    <section class="appointment-section">
        <h2>{% trans "Liste des Rendez-vous" %}</h2>
    
        {% if liste_rendezvous %}
            {% regroup liste_rendezvous by date as grouped_dates %}
            {% for date_group in grouped_dates %}
                <h3 style="margin-top: 15px;">{{ date_group.grouper }}</h3>
    
                <table class="appointment-table">
                    <thead>
                        <tr>
                            <th>{% trans "Nom" %}</th>
                            <th>{% trans "Prenom" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Heure" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rendezvous in date_group.list %}
                            <tr class="appointment-row">
                                <td>{{ rendezvous.nom }}</td>
                                <td>{{ rendezvous.prenom }}</td>
                                <td>{{ rendezvous.date }}</td>
                                <td>{{ rendezvous.time }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p>{% trans "Il n'y a pas de rendez-vous pour le moment." %}</p>
        {% endif %}
    </section>
    
    
    <img src="{% static 'images/rendezvous1.png' %}" alt="Prendre Rendez-vous">
</main>
{% endblock %}

<button onclick="topFunction()" id="myBtn" title="Go to top">
    <img src="{% static 'images/fleche.png' %}" alt="Up Arrow">
  </button>
    
<footer>
    <div style="margin-top: 15px;" class="container1">
        <div class="social-links">
            <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link">
                <img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon">
            </a>
            <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link">
                <img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon">
            </a>
            <a href="https://wa.me/212633571960" target="_blank" class="icon-link">
                <img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" class="social-icon">
            </a>
        </div>
        <p>&copy; {% trans "2024 Cabinet de kinésithérapie & physiothérapie." %}</p>
    </div>
</footer>
<script>
mybutton = document.getElementById("myBtn");


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}


document.getElementById('date').addEventListener('change', function () {
    updateAvailableTimeSlots();
});

updateAvailableTimeSlots();

function updateAvailableTimeSlots() {
    var selectedDate = new Date(document.getElementById('date').value);
    var dayOfWeek = selectedDate.getDay();

    var timeSelect = document.getElementById('time');
    timeSelect.innerHTML = ''; 

    if (dayOfWeek >= 1 && dayOfWeek <= 5) { 
        addTimeOption('09:00');
        addTimeOption('10:00');
        addTimeOption('11:00');
        addTimeOption('12:00');
        addTimeOption('15:00');
        addTimeOption('16:00');
        addTimeOption('17:00');
    } else if (dayOfWeek === 6) { 
        addTimeOption('09:00');
        addTimeOption('10:00');
        addTimeOption('11:00');
        addTimeOption('12:00');
    } else {
        // Handle other days (Sunday) if needed
    }
}

function addTimeOption(time) {
    var option = document.createElement('option');
    option.value = time;
    option.text = time;
    document.getElementById('time').add(option);
}
</script>
</body>
</html>
