{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Nos Services - Ma Clinique de Physiothérapie" %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..."crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>

</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo de la clinique">
                <h1>Cabinet PT Affous</h1>
            </div>
           
            <div class="menu-toggle">
                <input type="checkbox" id="menu-btn">
                <label for="menu-btn">&#9776;</label>
                <nav class="nav-links">
                    <ul>
                        <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                        <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                        <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                    </ul>
                </nav>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a href="{% url 'index' %}" >{% trans 'Accueil' %}</a></li>
                    <li><a href="{% url 'services' %}" >{% trans 'Services' %}</a></li>
                    <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                    <li><a href="{% url 'rendezvous' %}" >{% trans 'Rendez-vous' %}</a></li>
                </ul>
            </nav>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link"><img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon"></a>
                <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link"><img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon"></a>
                <a href="https://wa.me/212633571960" target="_blank" class="icon-link"><img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" class="social-icon"></a>
            </div>
            <div class="language">
                <form action="{% url 'set_language' %}" method="post" class="language-selector-container">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language" onchange="this.form.submit()" class="custom-select">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                                <img src="{% static 'images/' %}{{ language.code }}.png" alt="{{ language.name_local }}" width="16" height="16">
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div> 
        </div>
    </header>
    <main>
        <!--<section class="centered-section">
            <h2>{% trans "Nos Services" %}</h2>
            <img src="{% static 'images/services.png' %}" alt="Nos Services">
            <ul>
                {% for service in services %}
                    <li>
                        <h1>{{ service.name }}</h1>
                        <img class="thumbnail" src="{{ service.imageURL }}">
                    </li>
                {% endfor %}
            </ul>
            
            <ul>
                {% for servicenoimage in servicesnoimages %}
                    <li>
                        <h1>{{ servicenoimage.name }}</h1>
                    </li>
                {% endfor %}
            </ul>       
        </section>-->
        <section id="services" class="services">
            <div class="container">
      
              <div class="section-title">
                <h2>Services</h2>
                <p>Nous sommes dédiés à améliorer votre santé et votre bien-être grâce à nos services de qualité.</p>
              </div>
      
              <div class="row">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4>****</h4>
                    <p>*********************</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4>****</h4>
                    <p>*********************</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-hospital-user"></i></div>
                    <h4>****</h4>
                    <p>*********************</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-dna"></i></div>
                    <h4>****</h4>
                    <p>*********************</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-wheelchair"></i></div>
                    <h4>****</h4>
                    <p>*********************</p>
                  </div>
                </div>
      
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                  <div class="icon-box">
                    <div class="icon"><i class="fas fa-notes-medical"></i></div>
                    <h4>****</h4>
                    <p>*********************</p>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section>
    </main>
<button onclick="topFunction()" id="myBtn" title="Go to top">
        <img src="{% static 'images/fleche.png' %}" alt="Up Arrow">
</button>
    <footer>
        <div style="margin-top: 15px;" class="container1">
            <div class="social-links">
                <a href="https://www.facebook.com/profile.php?id=61555946494139&mibextid=2JQ9oc" target="_blank" class="icon-link">
                    <img src="{% static 'images/facebook.png' %}" alt="Facebook" class="social-icon">
                </a>
                <a href="https://www.instagram.com/pt.ouadie.affouss?igsh=MTF4YjJ6MTVvYmJxdg==" target="_blank" class="icon-link">
                    <img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social-icon">
                </a>
                <a href="https://wa.me/212633571960" target="_blank" class="icon-link">
                    <img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" class="social-icon">
                </a>
            </div>
            <p>&copy; {% trans "2024 Cabinet de kinésithérapie & physiothérapie." %}</p>
        </div>
    </footer>
    <script>
      mybutton = document.getElementById("myBtn");
      
      
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              mybutton.style.display = "block";
          } else {
              mybutton.style.display = "none";
          }
      }
      </script>
</body>
</html>
