
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 5rem;
  text-shadow: 0px 1px 0px rgb(56, 38, 129);
  color: #ffffff;
  animation-name: fadeIn;
  animation-duration: 2s;
}
.social-icons {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 30px; /* Ajustez la largeur selon vos besoins */
    height: 30px; /* Ajustez la hauteur selon vos besoins */
    margin-right: 15px;
}
*::-webkit-scrollbar{
    width: 11px;
}
*::-webkit-scrollbar-thumb{
    background-color: #333;
}

#myBtn {
    background-color: transparent;
    position: fixed;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    outline: none;
  }
  
#myBtn img {
    width: 45px; /* Adjust the width of the image */
    height: 45px; /* Adjust the height of the image */
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    
    display: flex;
    align-items: center;
}

.logo img {
  border-radius: 50%;
    width: 55px; /* Ajustez la taille de votre logo selon vos besoins */
    margin-right: 15px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}
.menu-toggle input {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.menu-toggle label {
    font-size: 24px;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

nav a:hover {
   transition: 0.25s;
   background: rgb(56, 130, 209);
   color: black;
}
main {
    padding: 2rem;
}

/*# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}


h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

form {
    max-width: 460px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #444abb;
    border-radius: 22px;
    color: white;
    border: none;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #6369c0;
}

.hero {
    text-align: center;
    padding: 4rem 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #666;
}

video {
    max-width: 70%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.contact {
    max-width: 460px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  

.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-section h2 {
    margin-bottom: 20px;
}

.centered-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.centered-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered-section li {
    margin-bottom: 10px;
}

.btn-warning {
    color: white;
    background-color: #0056b3;
    border-color: #0056b3;
}

.success-message {
    color: green;
}

.appointment-section {
    text-align: center; 
    margin-top: 20px;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto; 
}

.appointment-table th,
.appointment-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.appointment-table th {
    background-color: #f5f5f5;
}

.appointment-row:nth-child(even) {
    background-color: #f2f2f2;
}


form select[name="time"] {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    appearance: none;
    background-color: white;
    color: #333;
}

form select[name="time"] option {
    background-color: white;
    color: #333;
}
footer {
    background-color: #333; /* Choose a background color that fits your design */
    color: #fff; /* Set text color to white or a contrasting color */
    padding: 20px 0; /* Add padding to provide some space around the content */
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.social-links {
    display: flex;
    gap: 10px; /* Adjust the gap between social icons */
}

.social-icon {
    width: 30px; /* Set a suitable width for your social icons */
    height: 30px; /* Set a suitable height for your social icons */
}

p {
    margin: 0; /* Remove default margin for better spacing */
}
.thumbnail {
    width: 500px; 
    height: 450px; 
}

.language select {
    padding: 3px;
    border: none;
    background-color: #555;
    color: #fff;
}
/* Services______________*/
.services .icon-box {
    text-align: center;
    border: 1px solid #d5e1ed;
    padding: 80px 20px;
    transition: all ease-in-out 0.3s;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #1977cc;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    position: relative;
    z-index: 2;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(25, 119, 204, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
    z-index: -1;
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #2c4964;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #1977cc;
    border-color: #1977cc;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #1977cc;
  }
  
  .services .icon-box:hover .icon::before {
    background: rgba(255, 255, 255, 0.3);
  }
  
  .services .icon-box:hover h4 a,
  .services .icon-box:hover p {
    color: #fff;
  }
  
  
/*______________________*/
.contact .info {
    width: 100%;
    background: #fff;
  }
  
  .contact .info i {
    font-size: 20px;
    color: #1977cc;
    float: left;
    width: 44px;
    height: 44px;
    background: #d6e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c4964;
  }
  
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
  }
  .contact .info a {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #4b7dab;
  }
  
  .contact .info .email,
  .contact .info .phone {
    margin-top: 40px;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: #1977cc;
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #1977cc;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #1c84e3;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #fff;
    height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    z-index: 996;
  }
  
  #topbar.topbar-scrolled {
    top: -40px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #444444;
    transition: 0.3s;
  }
  
  #topbar .contact-info a:hover {
    color: #1977cc;
  }
  
  #topbar .contact-info i {
    color: #1977cc;
    padding-right: 4px;
    margin-left: 15px;
    line-height: 0;
  }
  
  #topbar .contact-info i:first-child {
    margin-left: 0;
  }
  
  #topbar .social-links a {
    color: #437099;
    padding-left: 15px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #1977cc;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  

@media screen and (max-width: 768px) {
    .logo {
        text-align: center;
        margin-bottom: 10px;
    }
    h1 {
        color: #ffffff;
        font-size: 15px;
        font-family: "Raleway", sans-serif;
        margin-top: 8px;
    }

    h1 {
        font-size: 1.5em; /* Ajuster la taille de la police du titre pour les petits écrans */
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        margin-bottom: 10px;
    }

    .nav-links {
        display: none;
        text-align: center;
    }

    .menu-toggle input:checked + label + .nav-links {
        display: block;
    }
    
    main {
        padding: 1rem; 
    }

    section {
        margin-bottom: 1rem; 
    }

    h2 {
        font-size: 1.5rem; 
    }

    ul {
        margin-left: 1rem; 
    }

    form {
        max-width: 100%; 
        padding: 0.5rem; 
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="date"] {
        width: 100%; 
    }

    form input[type="submit"] {
        padding: 0.3rem 0.7rem; 
    }
    img {
        max-width: 100%; 
        height: auto; 
    }
    .social-icon {
        width: 20px; 
        height: 20px;
    }
    .social-icons {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    header {
        padding: 5px; 
    }

    .logo img {
        width: 40px; 
    }

    nav ul li {
        margin-right: 10px;
    }
    .language select {
        padding: 1px;
        border: none;
        background-color: #555;
        color: #fff;
    }
}