/* 

body, h1, h2, h3, p, ul, li, form, input, label, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header .logo {
    max-width: 150px; 
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
    color: white;
}

main {
    padding: 2rem;
}


section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}

.hero {
    text-align: center;
    padding: 4rem 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #666;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-section h2 {
    margin-bottom: 20px;
}

.centered-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.centered-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered-section li {
    margin-bottom: 10px;
}

.btn-warning {
    color: white;
    background-color: #0056b3;
    border-color: #0056b3;
}

.success-message {
    color: green;
}


.appointment-section {
    text-align: center; 
    margin-top: 20px;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto; 
}

.appointment-table th,
.appointment-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.appointment-table th {
    background-color: #f5f5f5;
}

.appointment-row:nth-child(even) {
    background-color: #f2f2f2;
}

form select[name="time"] {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    appearance: none;
    background-color: white;
    color: #333;
}

form select[name="time"] option {
    background-color: white;
    color: #333;
}

.language-selector {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    color: #333;
    margin-right: 10px;
}


.flag-icon {
    width: 24px;
    height: 16px;
    margin-right: 5px;
}




@media screen and (max-width: 768px) {
  
    header {
        padding: 10px;
    }

    .logo {
        width: 80px;
    }

    h1 {
        font-size: 20px;
    }

    ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        width: 100%;
    }

    ul li {
        padding: 10px;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }
}
*/
/* Réinitialisation des styles de base */
body, h1, h2, h3, p, ul, li, form, input, label, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
}

/* Styles généraux */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

header .logo {
    max-width: 150px; /* Ajustez la taille selon vos besoins */
    height: auto;
    display: block;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
    color: white;
}

main {
    padding: 2rem;
}

/* Styles spécifiques aux pages */
section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

/* Styles du formulaire */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form input[type="date"] {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #555;
}

/* Styles spécifiques à la page d'accueil */
.hero {
    text-align: center;
    padding: 4rem 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #666;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.centered-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-section h2 {
    margin-bottom: 20px;
}

.centered-section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.centered-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered-section li {
    margin-bottom: 10px;
}

.btn-warning {
    color: white;
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Style for success messages */
.success-message {
    color: green; /* Change this to your desired color */
}

/* Ajoutez ces règles à votre fichier styles.css */

.appointment-section {
    text-align: center; /* Centre le contenu horizontalement */
    margin-top: 20px;
}

.appointment-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 0 auto; /* Centre le tableau horizontalement */
}

.appointment-table th,
.appointment-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.appointment-table th {
    background-color: #f5f5f5;
}

.appointment-row:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style pour le champ de sélection d'heure */
form select[name="time"] {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    appearance: none; /* Supprime le style par défaut du navigateur */
    background-color: white;
    color: #333;
}

form select[name="time"] option {
    background-color: white;
    color: #333;
}

/* Style du conteneur */
.centered-container {
    text-align: center;
    margin: 20px;
}

/* Style du sélecteur de langue */
.language-selector-container {
    margin: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: inline-block; /* Ajoutez cette ligne pour afficher le formulaire en ligne */
}

/* Style du select */
.custom-select {
    width: 150px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent; /* Ajoutez cette ligne pour un arrière-plan transparent */
    padding: 5px; /* Ajoutez un peu d'espace intérieur pour le texte */
}

/* Style des options du select */
.custom-select option {
    background-color: #f5f5f5; /* Couleur d'arrière-plan des options */
    color: #333; /* Couleur du texte des options */
    padding: 5px; /* Ajoutez un peu d'espace intérieur aux options */
}

/* Style pour l'image à l'intérieur de l'option */
.custom-select option img {
    vertical-align: middle; /* Centrez l'image verticalement */
    margin-right: 5px; /* Ajoutez un espace à droite de l'image */
}

 

  .thumbnail {
    width: 500px; 
    height: 450px; 
}



@media screen and (max-width: 768px) {
    body, h1, h2, h3, p, ul, li, form, input, label, video {
        font-size: 16px; 
    }

    .container {
        max-width: 100%; 
        padding: 0 10px;
    }

    header {
        padding: 0.5rem 0; 
    }

    header .logo {
        max-width: 100px;
    }

    nav ul {
        margin-top: 8px; /* Ajustez l'espacement du menu de navigation */
    }

    nav ul li {
        margin-right: 8px; /* Ajustez l'espacement entre les éléments du menu */
    }

    nav ul li a {
        padding: 5px; /* Ajustez la taille des liens du menu */
    }

    main {
        padding: 1rem; /* Ajustez l'espacement du contenu principal */
    }

    section {
        margin-bottom: 1rem; /* Ajustez l'espacement entre les sections */
    }

    h2 {
        font-size: 1.5rem; /* Ajustez la taille de la police pour les titres h2 */
    }

    ul {
        margin-left: 1rem; /* Ajustez le décalage de la liste à puces */
    }

    form {
        max-width: 100%; /* Ajustez la largeur maximale du formulaire */
        padding: 0.5rem; /* Ajustez les marges intérieures du formulaire */
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="date"] {
        width: 100%; /* Remplit la largeur du formulaire */
    }

    form input[type="submit"] {
        padding: 0.3rem 0.7rem; /* Ajustez la taille du bouton du formulaire */
    }
    img {
        max-width: 100%; /* Les images ne dépasseront pas la largeur du conteneur */
        height: auto; /* Maintient le ratio hauteur/largeur */
    }
    /* Ajustez d'autres styles spécifiques au besoin pour les petits écrans */
}
